.card{
  width: 500px;
  background: url(img/splash.png),radial-gradient(ellipse at center, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%);
  -webkit-background-size: auto;
  background-size: cover;
  max-width: 100%;
  min-width: 320px;
}
input{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
 .btn:active,
 .btn:focus,
 .btn.active {
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
 }

.card-body{
  font-size: 1.8rem;
}